

title{
text-align: left;
}


body{
background-color:#F8F9FA;
background-repeat: no-repeat;
}


h1{
margin-top: 40px;
margin-left:20px;
text-align: center;
font-family: "Lucida Console", Courier, monospace;
}
th, td {
  padding: 15px;
  text-align: left;
}
.btn{
		float: right;
		
		}

	
}